<div class="programs">
    <p class="program-title">Program</p>
    <p class="program-year">2018</p>
    <p class="program-month">January</p>
    <p>15 | Winter season</p>
    <p class="program-year">2017</p>
    <p class="program-month">November</p>
    <p>29 | Workshop Romania Grassland Database: historical background, current status and future perspective</p>
    <p class="program-month">April</p>
    <p>12-22 | INFORMAL SCHOOL: Know more, be better!</p>
    <p class="program-year">2016</p>
    <p class="program-month">September</p>
    <p>23 | Exhibition of edible and toxic mushrooms</p>
    <p>29 | Exhibition of flowers, fruits and seeds</p>
</div>