<div class="floating-box">
    <p class="title">Hours</p>
    <hr class="program"/>
    <p>The Garden</p>
    <p>Daily: 9 am - 5 pm</p>
    <p>Greenhoouses are closed on Mondays and Wednesdays</p>
    <p>Access  to the Iasi Botanical Garden is through the main gate, at the eastern edge of the grounds, adjacent to the Exhibition Park.</p>
    <p>Parking is available in a lot located across the street from the main entrance to the Garden.</p>
    <p>Pets are not allowed in the Garden due to the sensivity of our plant collection. However, trained service dogs are allowed.</p>
</div>
<div class="floating-box">
    <p class="title">Admission</p>
    <hr class="program"/>
    <div>
        <p>Adult</p>
        <p>Grooups</p>
        <p>Juniors(7-17)</p>
        <p>UAIC Students</p>
        <p>Non-UAIC Students</p>
        <p>UAIC Members</p>
        <p>Staff</p>
        <p>Monthly pass</p>
    </div>
    <div class="payment">
        <p>5 lei</p>
        <p>3 lei/person</p>
        <p>2.5 lei</p>
        <p>Free</p>
        <p>5 lei</p>
        <p>Free</p>
        <p>5 lei</p>
        <p>50 lei</p>
    </div>
</div>
