<div class="description">
    <p class="welcome">Welcome</p>
    <br>
    <p>
        The Iași Botanical Garden, now named after its founder, Anastasie Fătu (Romanian: Grădina Botanică "Anastasie Fătu"),
        is a botanical garden located in the Copou neighbourhood of Iași, Romania. Established in the year 1856 and maintained by
        the Alexandru Ioan Cuza University, it is the oldest and largest botanical garden in Romania.
    </p>
</div>
<div class="calendar">
    <p class="title">Calendar</p>
    <div class="info">
        <p class="daily">Open daily</p>
        <p class="location">Outside</p>
        <p>9 am - 5 pm</p>
        <p class="entry">No entry after 4:30 pm</p>
        <p class="location">Inside</p>
        <p>9 am - 4 pm</p>
        <p class="entry">No entry after 3:30 pm</p>
    </div>
    <div class="sparql">
        <a href="/Endpoint/Endpoint">SPARQL Endpoint</a>
    </div>
</div>
<div class="news">
    <p class="latest">Latest News</p>
    <div class="gallery">
        <a target="_blank" href="~/images/bird.jpg">
            <img src="~/images/bird.jpg" alt="Bird" width="300" height="200">
        </a>
        <div class="desc">Winter Bird</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/winter.jpg">
            <img src="~/images/winter.jpg" alt="Celebrate" width="300" height="200">
        </a>
        <div class="desc">Winter is here</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/season.jpg">
            <img src="~/images/season.jpg" alt="Season" width="300" height="200">
        </a>
        <div class="desc">Cold season</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/images/view.jpg">
            <img src="~/images/view.jpg" alt="View" width="300" height="200">
        </a>
        <div class="desc">Enjoy the view</div>
    </div>
</div>