<div class="about">
    <p class="about-title">Mission</p>
    <p>Our mission is to develop and maintain a diverse living collection of plants, to support  teaching  and worldwide
        research in plant biology, promote public understanding and appreciation of plants ant the natural environment.</p>
    <p class="about-title">History</p>
    <p>In 1856, in the immediate vicinity of Râpa Galbenă, Anastasie Fătu founded the Iași Botanical Garden with land bought using his own funds. In 1873, stimulated by interest expressed in Anastasie Fatu's garden, the Physicians and Naturalists Society founded a second botanical garden near the society; the second garden is now the natural history museum.
        In 1870, the Grigore T. Popa University of Medicine and Pharmacy (then University of Iași) created its own botanical garden on a piece of land located behind the University. In 1900, after five years of pleading from Professor Alexandru Popovici, the University asked for land near the Palace of Culture to establish a new botanical garden there. 
        Repeated attempts to obtain the necessary funding to realize this garden proved fruitless. In 1921, Alexandru Popovici organized a 
        new botanical garden on land located at the back of the new university building. This garden served the botanical education over 
        forty years, until 1964, when it was eventually moved to its current location in Copou, under the supervision of Professor Emilian Ţopa.
    </p>
    <br/>
   <p>The Iaşi Botanical Garden is currently involved in the conservation of eighty-five separate species included in the Red Book 
        of the vascular plants from Romania and in the International Conventions. It is also in partnership with in-site conservation 
        programs developed for plants species from the Carpathian Mountains and the Danube Delta.[2] The Botanical Garden co-operates 
    with partners from Romania and abroad. Since 2009, it has been a member of the International Plant Exchange Network.</p>
</div>